<h2>Todo List</h2>
<form>
  <input [(ngModel)]="tasktitle" type="text" placeholder="TaskTitle" name="tasktitle" required>
  <input [(ngModel)]="taskPriority" type="checkbox" name="taskPriority">High priority
  <button type="submit" (click)="add()">Add</button>
</form>
<button type="button" (click)="clear()">Clear All</button>
<button type="button" (click)="clearComp()">Clear Completed item</button>
<ul *ngFor="let print of todoList;let i = index">
  <li> <input type="checkbox" (change)="completed(i)" [checked]="print.completed">
    <span *ngIf="print.priority">&uarr;</span> 
    {{print.task}}
    <button type="button" (click)="remove(i)">Delete</button> </li>
</ul>